.content_box {
  -fx-background-color: rgba(0, 0, 0, 0.7);
  -fx-background-radius: 2.5%;
}







.content_box .label {
  -fx-text-fill: #FFFFFF;
}

.content_box .check-box {
  -fx-text-fill: #FFFFFF;
}

* {
	-fx-darkest-grey-color: #323232;
}

.content_box .check-box .box {
	-fx-background-color: white;
	-fx-border-radius: 0;
}

.content_box .check-box .mark {
 	-fx-shape: "M1.73,12.91 8.1,19.28 22.79,4.59 22.79,1.59 8.1,16.28 1.73,9.91";
}

.content_box .check-box:selected .mark {
	-fx-background-color: white;
}

.content_box .check-box:selected .box {
	-fx-background-color: -fx-darkest-grey-color;
}




.toolbar {
  -fx-background-color: #100c0c;
  -fx-opacity: 0.8;
}

.toolbar .button {
  -fx-background-color: #100c0c;
  -fx-text-fill: #FFFFFF;
}

.search_page {
  -fx-background-color: rgba(32, 32, 32, 0.7);
  -fx-background-radius: 2.5%;
}





#text_box {
  -fx-background-color: rgba(32, 32, 32, 0.7);
  -fx-background-radius: 2.5%;
}

#page_button {
-fx-background-color: rgba(32, 32, 32, 0.7);
-fx-background-radius: 2.5%;
}

.overlay_box {
  -fx-background-color: rgba(0, 0, 0, 0.8);
}